// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

// ページ間のトランジションのみここで指定

.page-enter-active, .page-leave-active {
  transition: all 0.5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}
